# Auto detect text files and perform LF normalization
* text=auto
/ETL-Detran/dados/acidentes2024_todas_causas_tipos.csv filter=lfs diff=lfs merge=lfs -text
/ETL-Detran/dados_completos.csv filter=lfs diff=lfs merge=lfs -text
